# Application
APP_NAME=
DEBUG=

# PostgreSQL
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_HOST=
POSTGRES_PORT=
DATABASE_URL=

# Redis
REDIS_HOST=
REDIS_PORT=
REDIS_DB=
REDIS_URL=

# JWT
JWT_SECRET_KEY=
JWT_ALGORITHM=
JWT_EXPIRE_MINUTES=
